[submodule "crypto-primitives"]
	path = crypto-primitives
	url = https://github.com/arkworks-rs/crypto-primitives.git
[submodule "algebra"]
	path = algebra
	url = https://github.com/arkworks-rs/algebra.git
[submodule "r1cs-std"]
	path = r1cs-std
	url = https://github.com/arkworks-rs/r1cs-std.git
[submodule "groth16"]
	path = groth16
	url = https://github.com/arkworks-rs/groth16.git
[submodule "icicle"]
	path = icicle
	url = https://github.com/ingonyama-zk/icicle
